*{
    margin: 0;
    padding: 0;
    max-width: 1900px;
    color: white;
}


@import url('https://fonts.cdnfonts.com/css/miama');

                
.header{
    background-image: linear-gradient(to top , rgb(0, 0, 0) 0%,rgba(32, 32, 32, 0.925) ,  rgb(0, 0, 0) 100% );
    
    
}
nav{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 2.5rem;
    margin-right: 2.5rem;
    border: 1px solid rgba(177, 177, 177, 0.253);
    border-radius: 15px;
    padding-right: 6px;
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(197, 197, 197);
    
}

.logo-text{
    color: rgb(231, 9, 9);
}

li.homes a{
    background-color: rgb(248, 51, 17);
    padding: 4px 7px;
    border-radius: 15px;
    color: white;
}

/* end nav  section  */


.banner{
    display: flex;
    width: 90%;
    margin: 0 auto;
    column-gap: 2%;
    margin-top: 30px;
}

.banner-text{
    height: 500px;
    width: 48%;
    
}
.ban-head{
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 50px;
}
.ban-p{
    color: rgb(125, 126, 126);
    margin-top: 30px;
    width: 90%;
}

.btn-primary{
    margin: 30px 0;
    padding: 8px 20px;
    background-color: rgb(248, 51, 17);
    border: none;
    border-radius: 15px;
}
.btn-primarys{
    margin: 20px 5px;
    padding: 8px 20px;
    background: none;
    border: 1px solid rgba(172, 171, 171, 0.836);
    border-radius: 20px;
}

span{
    font-family: 'Miama', sans-serif;
    font-size: 4.5rem;
    font-weight: 200;
}

.banner-img{
    height: 500px;
    width: 48%;
    background-image: url(./images/Images\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:  contain;
    
}

.btn1{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    column-gap: .6rem;
    
    border: none;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    position: relative;
    top: 350px;
    left: 10%;
    backdrop-filter: blur(11px);

    
}

.btn2{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    column-gap: .6rem;
    position: relative;
    border: none;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    left: 60%;
    top: 130px;
    backdrop-filter: blur(11px);
    
}
.in-btn-text h2{
    text-align: start;
    font-size: 35px;
}
.in-btn-text h1{
    text-align: start;
}
.in-btn-text p{
    text-align: start;
    color: rgb(171, 171, 172);
}
.circle{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
}

/* this end header section  */

/* this is menu section  */
.h3-tag{
    font-size: 35px;
}
.h2-tag{
    font-size: 30px;
}

.p-tag{
    color: rgb(116, 115, 115);
    margin-top: 20px;
}
.mt20{
    margin-top: 20px;
}
.habits{
    height: 600px;
    background-color: black;
}

.habit-head{
    width: 40%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    
}

.habit-cards{
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-top: 40px;
    text-align: center;
}

.habit-card img{
    border-radius: 50%;
    border: 4px solid rgba(19, 19, 19, 0.856);
}

.p-tags{
    color: rgb(133, 133, 133);
    margin-top: 6px;
}

/* this is a join section  */

.join{
    height: 440px;
    background-color: black;
}

.inner-join{
    height: 350px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.281);
    border-radius: 20px;
    padding: 0 40px;
    padding-left: 70px;
}

.join-text{
    width: 35%;
}

.join-btn{
    padding: 10px 50px;
    border-radius: 35px;
}

.join-img img{
    height: 280px;
    width: 300px;
    border-radius: 15px;
}

/* this is exercise section  */

.exercise{
    height: auto;
    background-color: black;
    padding-bottom: 120px;
}

.in-exe{
    width: 85%;
    margin: 0 auto;
}
.ex-text{
    width: 60%;
}

.fst-row{
    display: grid ;
    grid-template-columns: 1.3fr 2fr 1.3fr;
    margin-top: 60px;
    padding-bottom: 0;
}

.exe-img img{
    height: 100%;
    width: 100%;
}

.exe-img{
    height: auto;
}


.scnd-row{
    display: grid ;
    grid-template-columns: 2fr 1.3fr 1.6fr;
    margin-top: 0;
}

.ex3{
    position: relative;
    bottom: 60px;
    left: 40px;
}

.ex1{
    position: relative;
    bottom: 60px;
    left: 40px;
    color: black;
}

.ex2{
    position: relative;
    bottom: 90%;
    left: 40px;
}

.ex4{
    position: relative;
    bottom: 90%;
    left: 80%;
}


/* this is a bmi section  */



.bmi{
    height: 650px;
    background-color: black;
}
.h2-tag{
    font-size: 30px;
}
.h3-tag{
    font-size: 40px;
}

.p-tag{
    color: rgba(143, 143, 143, 0.863);
    margin-top: 20px;
}

.bmi-head{
    width: 420px;
    padding-top: 50px;
    margin-left: 30%;
}

.bmi-calculator{
    height: 400px;
    background-color: rgba(128, 128, 128, 0.33);
}
.inner-cal{
    width: 85%;
    margin: 0px auto;
    margin-top: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
table{
    border-collapse: collapse;
    margin-top: 40px;
}

tr,td{
    border: 1px solid rgba(95, 95, 95, 0.455);
    padding: 10px 35px;
}
.tdr td{
    color: rgba(150, 150, 150, 0.836);
}
.chart{
    width: 40%;
    margin-top: 10px;
}

.calculate{
    width: 50%;
}

.selct1{
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(117, 117, 117, 0.316);
    color: rgb(168, 168, 168);
}

input::placeholder{
    color: rgb(168, 168, 168);
}

.inputs{
    margin-top: 30px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
    
}


.selct2{
    background-color: #75757551;
    margin-top: 10px;
    color: rgb(168, 168, 168);
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}


.bmi-btn{
    padding: 12px 60px;
    background-color: rgb(248, 55, 41);
    border: none;
    border-radius: 35px;
    margin-top: 30px;
    font-size: 20px;
}

/*end bmi section  */

/* start team member section  */

.team{
    padding-top: 50px;
    height: 850px;
    background-color: black;
}

.team-heading{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.team-member{
    width: 85%;
    margin: 50px auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2, 280px);
    row-gap: 20px;
    padding: 20px;
    background-color: #3f3f3f96;
    border-radius: 15px;
    text-align: center;
}

.trainer >img{
    height: 100%;
    width: 90%;
    border-radius: 15px;
    filter: brightness(75%);
    
}

.team-name{
    position: relative;
    bottom: 30%;
    left: 10%;
    width: 90%;
    text-align: left;
}

.ptags{
    color: rgb(170, 170, 170);
}


/* now end team section  */




