*{
    margin: 0;
    padding: 0;
    max-width: 1900px;
    color: white;
}


@import url('https://fonts.cdnfonts.com/css/miama');

                
.header{
    background-image: linear-gradient(to top , rgb(0, 0, 0) 0%,rgba(32, 32, 32, 0.925) ,  rgb(0, 0, 0) 100% );
    
    
}
nav{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 2.5rem;
    margin-right: 2.5rem;
    border: 1px solid rgba(177, 177, 177, 0.253);
    border-radius: 15px;
    padding-right: 6px;
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(197, 197, 197);
    
}

.logo-text{
    color: rgb(231, 9, 9);
}

li.homes a{
    background-color: rgb(248, 51, 17);
    padding: 4px 7px;
    border-radius: 15px;
    color: white;
}
.hamburger-menu{
    display: none;
}

/* end nav  section  */


.banner{
    display: flex;
    width: 90%;
    margin: 0 auto;
    column-gap: 2%;
    margin-top: 30px;
}

.banner-text{
    height: 500px;
    width: 48%;
    
}
.ban-head{
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 50px;
}
.ban-p{
    color: rgb(125, 126, 126);
    margin-top: 30px;
    width: 90%;
}

.btn-primary{
    margin: 30px 0;
    padding: 8px 20px;
    background-color: rgb(248, 51, 17);
    border: none;
    border-radius: 15px;
}
.btn-primarys{
    margin: 20px 5px;
    padding: 8px 20px;
    background: none;
    border: 1px solid rgba(172, 171, 171, 0.836);
    border-radius: 20px;
}

span{
    font-family: 'Miama', sans-serif;
    font-size: 4.5rem;
    font-weight: 200;
}

.banner-img{
    height: 500px;
    width: 48%;
    background-image: url(./images/Images\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:  contain;
    
}

.btn1{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    column-gap: .6rem;
    
    border: none;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    position: relative;
    top: 350px;
    left: 10%;
    backdrop-filter: blur(11px);

    
}



.btn2{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    column-gap: .6rem;
    position: relative;
    border: none;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    left: 60%;
    top: 130px;
    backdrop-filter: blur(11px);
    
}
.in-btn-text h2{
    text-align: start;
    font-size: 35px;
}
.in-btn-text h1{
    text-align: start;
}
.in-btn-text p{
    text-align: start;
    color: rgb(171, 171, 172);
}

.pbtn{
    height: 15px;
    width: 15px;
    background-color: rgba(252, 33, 33, 0.884);
    padding: 7px ;
    border-radius: 50%;
    
}

/* this end header section  */

/* this is menu section  */
.h3-tag{
    font-size: 35px;
}
.h2-tag{
    font-size: 30px;
}

.p-tag{
    color: rgb(116, 115, 115);
    margin-top: 20px;
}
.mt20{
    margin-top: 20px;
}
.habits{
    height: 600px;
    background-color: black;
}

.habit-head{
    width: 40%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    
}

.habit-cards{
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-top: 40px;
    text-align: center;
}

.habit-card img{
    border-radius: 50%;
    border: 4px solid rgba(19, 19, 19, 0.856);
}

.p-tags{
    color: rgb(133, 133, 133);
    margin-top: 6px;
}

/* this is a join section  */

.join{
    height: 440px;
    background-color: black;
}

.inner-join{
    height: 350px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.281);
    border-radius: 20px;
    padding: 0 40px;
    padding-left: 70px;
}

.join-text{
    width: 35%;
}

.join-btn{
    padding: 10px 50px;
    border-radius: 35px;
}

.join-img img{
    height: 280px;
    width: 300px;
    border-radius: 15px;
}

/* this is exercise section  */
/* start exersice section  */

.exercise{
    height: auto;
    background-color: black;
    padding-bottom: 90px;
}

.in-exe{
    width: 85%;
    margin: 0 auto;
}
.ex-text{
    width: 60%;
}



/* .exe-img img{
    height: 100%;
    width: 100%;
} */

/* .exe-img{
    height: auto;
} */
.over1{
    width: auto;
    height: 230px;
    background: url(./images/exercise1.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.in-over{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(18, 169, 207, 0.452);
    width: 100%;
    height: 100%;
}
.over2{
    width: auto;
    height: 230px;
    background: url(./images/exercise2.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.in-over2{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(182, 12, 12, 0.392);
    width: 100%;
    height: 100%;
}
.over3{
    width: auto;
    height: 230px;
    background: url(./images/exercise3.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.in-over3{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.452);
    width: 100%;
    height: 100%;
}
.over4{
    width: auto;
    height: 230px;
    background: url(./images/exercise4.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.in-over4{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.452);
    width: 100%;
    height: 100%;
}
.over5{
    width: auto;
    height: 230px;
    background: url(./images/exercise7.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.in-over5{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(16, 114, 7, 0.486);
    width: 100%;
    height: 100%;
}
.over6{
    width: auto;
    height: 230px;
    background: url(./images/exercise6.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.in-over6{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(32, 122, 110, 0.452);
    width: 100%;
    height: 100%;
}

.fst-row{
    display: grid ;
    grid-template-columns: 1.3fr 2fr 1.3fr;
    margin-top: 60px;
    padding-bottom: 0;
}

.scnd-row{
    display: grid ;
    grid-template-columns: 1.9fr 1.3fr 1.6fr;
    margin-top: 0;
}

.ex3{
    position: relative;
    bottom: -70%;
    left: 40px;
}

.ex1{
    position: relative;
    bottom: -80%;
    left: 20%;
    color: black;
}

.ex2{
    position: relative;
    bottom: -9%;
    left: 40px;
}

.ex4{
    position: relative;
    bottom: -9%;
    left: 60%;
}

/* this is a bmi section  */



.bmi{
    height: 650px;
    background-color: black;
}
.h2-tag{
    font-size: 30px;
}
.h3-tag{
    font-size: 40px;
}

.p-tag{
    color: rgba(143, 143, 143, 0.863);
    margin-top: 20px;
}

.bmi-head{
    width: 420px;
    padding-bottom: 25px;
    margin-left: 30%;
}

.bmi-calculator{
    height: 400px;
    background-color: rgba(128, 128, 128, 0.252);
}
.inner-cal{
    width: 85%;
    margin: 0px auto;
    margin-top: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
table{
    border-collapse: collapse;
    margin-top: 40px;
}

tr,td{
    border: 1px solid rgba(95, 95, 95, 0.644);
    padding: 10px 35px;
}
.tdr td{
    color: rgba(150, 150, 150, 0.836);
}
.chart{
    width: 40%;
    margin-top: 10px;
}

.calculate{
    width: 50%;
}

.selct1{
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(117, 117, 117, 0.316);
    color: rgb(168, 168, 168);
}

input::placeholder{
    color: rgb(168, 168, 168);
}

.inputs{
    margin-top: 30px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
    
}


.selct2{
    background-color: #75757551;
    margin-top: 10px;
    color: rgb(168, 168, 168);
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
}


.bmi-btn{
    padding: 12px 60px;
    background-color: rgb(248, 55, 41);
    border: none;
    border-radius: 35px;
    margin-top: 30px;
    font-size: 20px;
}

/*end bmi section  */

/* start team member section  */

.team{
    padding-top: 50px;
    height: 850px;
    background-color: black;
}

.team-heading{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.team-member{
    width: 85%;
    margin: 50px auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2, 280px);
    row-gap: 20px;
    padding: 20px;
    background-color: #3f3f3f96;
    border-radius: 15px;
    text-align: center;
}

.trainer >img{
    height: 100%;
    width: 90%;
    border-radius: 15px;
    filter: brightness(75%);
    
}

.team-name{
    position: relative;
    bottom: 30%;
    left: 10%;
    width: 90%;
    text-align: left;
}

.ptags{
    color: rgb(170, 170, 170);
}

/* now end team section  */

/* start uniqe section  */


.uniqe-sect{
    height: 750px;
    background-color: black;
}

.uniqe-head{
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

.one-letter{
    color: rgb(255, 0, 0);
}

.in-uniqe{

    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 50px;
}
.uniqe-card{
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgba(119, 0, 255, 0.925);
    height: 400px;
    padding: 20px;
    padding-left: 40px;
    opacity: 80%;
    transition: .5s ease-in-out;
}
.uniqe-card:hover{
    box-shadow: inset 0px 0px 15px 2px purple;
    
    border: 1px solid black;
    opacity: 100%;
    cursor: pointer;
}

.in-uniq-head{
    border-bottom: 5px solid rgba(151, 40, 255, 0.699);
    text-align: center;
}


.in-uniqe-text h1 , 
.in-uniqe-text ol{
    display: grid;
    row-gap: 25px;
    list-style: decimal;
    padding-left: 15px;
    margin-top: 17px;

}

.ptagsu{
    color: #7e7e7e;
    margin: 15px 0;
}

.info-btn{
    background-color: rgba(128, 0, 128, 0.432);
    padding: 7px 15px;
    margin-top: 18px;
    border: none;
    border-radius: 15px;
    transition: .6s ease;
}

.info-btn:hover{
    background-color: transparent;
    color: rgb(255, 11, 255);
    box-shadow: 0 0 5px 0 purple;
    cursor: pointer;
}


/* end uniqe section  */

/* started footer section  */
.footer{
    height: auto;
    background-color: #222222;
    padding-bottom: 30px;
}

.footer-text{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 40px;
    padding-top: 60px;
}
.fit-title{
    font-size: 60px;
    color: rgb(236, 57, 12);
    font-style: italic;
}

.foot-cr{
    width: 85%;
    margin: 0px auto;
    margin-top: 70px;
}
.hr{
    opacity: 30%;
}
.last-p{
    text-align: center;
}

/* end footer section  */

@media  screen and  (max-width:  576px) {
    .header{
        padding-top: 40px;
    }
    .logo-text{
        font-size: 45px;
    }
    .hamburger-menu{
        display: block;
        padding-right: 40px;
        font-size: 30px;
    }
    .head-list{
        display: none;
    }

    .banner{
        flex-direction: column;
        margin-top: 0;
    }
    .banner-text{
        height: auto;
        width: auto;
        
    }

    .btn-primary{
        margin: 40px 0;
        padding: 14px 30px;
        font-size: 14px;
        border-radius: 35px;
    }
    .btn-primarys{
        margin: 40px 0;
        padding: 14px 16px;
        font-size: 14px;
        border-radius: 35px;
        margin-left: 7px;
    }

    .banner-img{
        height: 500px;
        width: auto;
    }
    .btn1{
        padding: 14px 20px;
    }
    .btn2{
        padding: 10px 20px;
        left: 50%;
        row-gap: 0;
    }
    .ban-head{
        font-size: 45px;
        width: 80%;
        line-height: 45px;
        font-weight: 1900;
    }
    .ban-p{
        font-size: 20px;
    }

    /* end ban section  */

    /* start habit section  */
    .habits{
        height: auto;
    }

    .habit-head{
        width: 85%;
        padding-top: 10px;
    }
    .habit-cards{
        width: 55%;
        grid-template-columns: repeat(1,1fr);
        row-gap: 40px;
        margin-top: 50px;
    }
    .p-tag{
        line-height: 23px;
    }
    .p-tags{
        font-size: 18px;
    }
    .mt20{
        font-size: 23px;
        font-weight: 200;
    }
    /* end habit section  */

    .join{
        height: auto;
        padding-top: 80px;
    }
    .inner-join{
        flex-direction: column;
        height: auto;
        padding: 25px 15px;
        padding-left: auto;
    }
    .join-text{
        width: 90%;
    }
    
    .join-btn{
        width: 100%;
        padding: 15px auto;
        border-radius: 35px;
    }
    .join-img{
        width: 90%;
        
    }
    .join-img img{
        height: 270px;
        width: 100%;
        border-radius: 15px;
    }
    /* end join section  */
    
    /* this is  exercise responsive  */
    .exercise{
        padding-bottom: 0px;
    }
    .fst-row{
        grid-template-columns: 1fr 1fr 0fr;
    }
    
    .scnd-row{
        grid-template-columns: 1fr 1.2fr 0fr;
    }
    .ex4{
        position: relative;
        bottom: -70%;
        left: 10%;
    }
    .ex1{
        color: white;
        bottom: -70%;
        left: 10%;
    }
    .over2{
        width: 100%;
        background-size: cover;
        background-position: 70% 10%;
    }
    .over4{
        width: 100%;
        background-size: cover;
        background-position: 30% ;
    }
    .ex-text{
        width: 90%;
        padding-top: 50px;
    }

    /* start bmi section   */
    .bmi{
        height: auto;
    }
    .bmi-head{
        width: 90%;
        margin: 0 auto;
    }
    .bmi-calculator{
        height: auto;
    }
    .inner-cal{
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .chart{
        width: 90%;
        margin-top: 0px;
    }
    tr,td{
        padding: 28px auto;
    }

    .calculate{
        width: 100%;
        margin-top: 40px;
    }
    .selct1{
        padding: 14px 10px;
    }
    .selct2{
        width: 103%;
        padding: 14px 10px;
        padding-right: 62%;
    }
    .bmi-btn{
        padding: 14px 80px;
        margin-bottom: 40px;
    }
    .inputs{
        margin-top: 30px;
        width: auto;
        display: grid;
        grid-template-columns: repeat(2 , 50%);
        gap: 10px;
        
    }
    
    /* this is team section   */ 
    .team-member{
        width: 85%;
        margin: 0px auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(4 , 300px);
        row-gap: 20px;
        padding: 20px 0;
        background-color: #3f3f3f96;
        border-radius: 15px;
        text-align: center;
    }
    .team{
        height: auto;
    }
    .team-heading{
        width: 80%;
        padding-bottom: 40px;
    }

    .ttt{
        display: none;
    }

    
    /* start uniqe section responsive  */

    .uniqe-sect{
        height: auto;
    }

    .uniqe-head{
        width: 80%;
    }

    .in-uniqe{
        width: 85%;
        grid-template-columns: repeat(1 , 1fr);
        margin-top: 50px;
    }
    .uniqe-card{
        width: 70%;
        margin: 20px auto;
        border: 1px solid rgba(119, 0, 255, 0.925);
        
    }
    /* started footer section  */

    .footer{
        height: auto;
        background-color: #222222;
        padding-bottom: 30px;
    }

    .footer-text{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
    .fp{
        font-size: 30px;
    }
    .fh{
        font-size: 40px;
    }
    .fit-title{
        font-size: 90px;
    }

    .foot-cr{
        width: 85%;
        margin: 0px auto;
        margin-top: 70px;
    }
    .hr{
        opacity: 30%;
    }
    .last-p{
        text-align: start;
        font-size: 23px;
        padding: 15px 0;
    }

}